<div class="p-5">
  <table class="table-fixed border-separate  border border-slate-500 ...">
    <tr>
      <th class="border border-slate-600 ...">ID</th>
      <th class="border border-slate-600 ...">Name</th>
      <th class="border border-slate-600 ...">Email</th>
      <th class="border border-slate-600 ...">Link</th>
    </tr>
    <tr *ngFor="let contact of contacts">
      <td class="border border-slate-700 ...">{{ contact.id }}</td>
      <td class="border border-slate-700 ...">{{ contact.name }}</td>
      <td class="border border-slate-700 ...">{{ contact.email }}</td>
      <td class="border border-slate-700 ...">
        <a [routerLink]="['/listings', contact.id]">Go to details</a>
      </td>
    </tr>
  </table>
</div>
